.sliderContainer {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 80px;
}

.bannerWrap {
  position: relative;
  width: 100%;
  height: auto;
  max-height: 900px;
  margin-bottom: 10px;
  overflow: hidden;
}

.bannerWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 2;
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 0) 30%,
    rgba(255, 255, 255, 0.5) 80%,
    rgba(255, 255, 255, 1) 100%
  );
  pointer-events: none;
}

.bannerImage {
  display: block;
  width: 100%;
  object-fit: cover;
  position: relative;
  z-index: 1;
}

.sliderWrapper {
  position: absolute;
  width: calc(100% - 0px);
  margin: auto;
}

.arrowButton {
  cursor: pointer;
  position: relative;
  top: 40%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.422);
  /* color: rgba(255, 255, 255, 0.659); */
  border: none;
  padding: 20px;
  font-size: 90px;
  z-index: 1;
}

.arrowLeft {
  height: 40px;
  width: 40px;
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowRight {
  width: 40px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider {
  display: flex;
  overflow-x: auto;
  padding: 20px 40px;
  gap: 20px;
}

.poster {
  min-width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}

.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.favoriteButton {
  width: 50px;
  bottom: -60px;
  left: -150px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 50px;
}

.posterWrapper {
  position: relative;
  display: inline-block;
}

.filledHeart {
  fill: red;
}

.emptyHeart {
  fill: grey;
}

.buttonWarp {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.bookingButton {
  text-align: center;
  width: 200px;
  left: 120px;
  height: 100;
  padding: 10px 75px;
  background-color: #000000;
  color: white;
  display: flex;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 5px;
  box-sizing: border-box;
}
