.sliderContainer {
  position: relative;
  margin: auto;
  display: block;
  width: 100%;
  height: auto;
  margin-top: 80px; /* Spacing from top */
  
}

.bannerWrap {
  position: relative;
  width: 100%; /* Full width */
  max-height: 500px; /* Maximum height for banner images */
  margin-bottom: 10px; /* Spacing between banner and slider */
  overflow: hidden; /* Ensure the gradient does not overflow the bannerWrap */
}

.bannerWrap::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: radial-gradient(circle, rgba(255, 255, 255, 0) 40%, rgba(255, 255, 255, 0.5) 80%, rgba(255, 255, 255, 1) 100%);
  pointer-events: none; /* Prevent the gradient from interfering with clicking on the banner */
}

.bannerImage {
  display: block; /* Remove default inline display */
  width: 100%; /* Full width */
  max-height: 500px; /* Maximum height for banner images */
  object-fit: cover;
  position: relative; /* Ensure it's above the ::before gradient */
  z-index: 1;
}


/* 태율님 이거 마우스 한명만 움직일 수 있어서 잠쉬만 기다려주셔용 */

.sliderWrapper {
  position: relative;
  width: calc(100% - 80px); 
  margin: auto; 
}

.arrowButton {
  cursor: pointer;
  position: relative;
  top: -50%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  padding: 10px;
  font-size: 24px;
  z-index: 1;

}

.arrowLeft {
  width: 50px;
  position: absolute;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrowRight {
  width: 50px;
  position: absolute;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.slider {
  display: flex;
  overflow-x: auto;
  padding: 20px 40px;
  gap: 20px;
}

.poster {
  min-width: 300px;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
}


.slider::-webkit-scrollbar {
  display: none;
}

.slider {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
