
@font-face {
  font-family: "DNFBitBitv2";
  font-style: normal;
  font-weight: 400;
  src: url("//cdn.df.nexon.com/img/common/font/DNFBitBitv2.otf")
    format("opentype");
}

header {
  width: 100%;
  z-index: 1000;
  height: 80px;
  padding: 30px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  background-color: #1d1d1d;
  position: fixed;
  top: 0;

}

.headerWrap {
  width: 1420px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.logo {
  font-family: "DNFBitBitv2";
  font-size: 32px;
  color: white;
  cursor: pointer;

}

.icons {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}


li {
  color: white;


  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  width: 65px;
}


li > p {
  margin-top: 5px;
  font-size: 11px;

}
